/*.rev
/glib
/lib3ds
/libCEGUI
/libbullet
/libcaca
/libcal3d
/libfreetype
/libjpeg
/libjs
/libmikmod
/libmng
/libode
/libogg
/libpcre
/libpng
/libspeex
/libvorbis
/libwx
/libz
/openal-soft
/pkg-config

